<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li id="toggle-sidebar" class="sidebar-main">
      <a href="#">
        Admin Panel
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://source.flexilis.local/services/ragnos" target="_blank">
        Source
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#addJiraLink" target="_blank">
        Bugs
      </a>
    </div>
    <div class="col-xs-4">
      <a href="mailto:david.dinh@lookout.com">
        Help
      </a>
    </div>
  </div>
</div>
